@model InternDemo.Models.TaskList

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*<h1>Create</h1>

    <h4>TaskList</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="taskName" class="control-label"></label>
                    <input asp-for="taskName" class="form-control" />
                    <span asp-validation-for="taskName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="taskStatus" class="control-label"></label>
                    <input asp-for="taskStatus" class="form-control" />
                    <span asp-validation-for="taskStatus" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="priority" class="control-label"></label>
                    <input asp-for="priority" class="form-control" />
                    <span asp-validation-for="priority" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@


    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Task List Form</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>

                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <div class="card-body">
            <form asp-action="Create">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TaskName" class="control-label">Task Name</label>
                            <input asp-for="TaskName" class="form-control" />
                            <span asp-validation-for="TaskName" class="text-danger"></span>

                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <label asp-for="TaskStatus" class="control-label">Status</label>
                            <input asp-for="TaskStatus" class="form-control" />
                            <span asp-validation-for="TaskStatus" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Priority" class="control-label">Priority</label>
                            <input asp-for="Priority" class="form-control" />
                            <span asp-validation-for="Priority" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StartDate" class="control-label">Start Date</label>
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndDate" class="control-label">End Date</label>
                            <input asp-for="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>

        </div>
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}