@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
 
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Employee Demo App</p>
</div>
